legend {
    font-family:'Courier New', Courier, monospace;
    font-weight:bold ;
}

fieldset{

    padding: 110px;

}

h1{
    background-color: wheat;
    padding: 100px;
    
}

body{
    background-color: lightgreen;
}